img {
    border-radius: 10px;
    display: block;
    margin: auto;
}


/*     COLORES    */

p {
    background-color: lightgray;
    padding: 2vw;
    border-radius: 10px;
}


/*  RESPONSIVE   */


img {
    height: 50vh;
    width: 100%;
}

p {
    text-align: justify;
    line-height: 2;
}
