p {
    text-align: center;
    background-color: lightgray;
    padding: 2vw;
    border-radius: 10px;
}

form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
  }
  input, textarea {
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
  }
  button:hover {
    background: gold;
  }
  
  label {
    padding: 0.5em 0.5em 0.5em 0;
  }
  
  input, textarea {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus,  textarea:focus {
    outline: 3px solid gold;
  }
  
  @media (min-width: 400px) {
    form {
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input,
    textarea {
      grid-column: 2 / 3;
    }
  }