.foto1 {
    align-content: center;
    text-align: center;
}

.descripcion {
    text-align: justify;
}

img {
    opacity: 0.20;
    transition: opacity 2500ms;
}

img:hover {
    opacity: 0.90;
    transition: opacity 2500ms;
}

/*     COLORES    */

.foto1 {
    color: rgb(38, 8, 88);
}


/*  RESPONSIVE   */

.container {
    grid-template-rows: 5vw 20vw 75vw 40vw;
}

.left {
    grid-column: 1 / 4;
}

.foto1 {
    grid-column: 1 / 4;
    grid-row: 3 / 8;
}

.descripcion {
    grid-column: 4 /11;
    grid-row: 3 / 8;
    margin: 2% 5%;
}

@media screen and (min-width: 900px)  {
    .foto1 {
        font-weight: bold;
    }
}

@media screen and (max-width: 900px)  {
    .foto1 {
        font-weight: normal;
    }
}

@media screen and (max-width: 750px)  {
    .container {
        grid-template-rows: 5vw 20vw 55vw 40vw;
    }

    .header {
        font-size: 2.4vw;
    }
    li {
        margin-left: 2%;
        font-weight: normal;
    }
    .foto1 {
        font-weight: normal;
    }

    .left {
        grid-column: 1 / 11;
        grid-row: 3 /3;
    }
    
    img {
        height: 50vh;
        width: 90%;
    }
    
    .foto1 {
        grid-column: 1 / 11;
        grid-row: 3 / 3;
    }
    
    .descripcion {
        grid-column: 1/11;
        grid-row: 4 / 4;
        }
}

@media screen and (max-width: 650px)  {
    .container {
        grid-template-rows: 5vw 20vw 65vw 40vw;
    }
}

@media screen and (max-width: 550px)  {
    .container {
        grid-template-rows: 5vw 20vw 75vw 40vw;
    }
}