p {
    text-align: center;
    background-color: lightgray;
    padding: 2vw;
    border-radius: 10px;
}

img {
    border-radius: 10px;
    display: block;
    margin: auto;
    opacity: 0.20;
    transition: opacity 2500ms;
}

img:hover {
    opacity: 0.90;
    transition: opacity 2500ms;
}

/*  RESPONSIVE   */



img {
    height: 50vh;
    width: 90%;
}

.left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 /5;
    grid-row: 3 /3;
}

a {
    text-align: center;
}