img {
    border-radius: 10px;
    display: block;
    margin: auto;
    opacity: 0.20;
    transition: opacity 2500ms;
}

img:hover {
    opacity: 0.90;
    transition: opacity 2500ms;
}

/*  RESPONSIVE   */

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

img {
    height: 50vh;
    width: 90%;
}

.left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 /10;
    grid-row: 3 /3;
}